body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

h1 {
  margin: 0;
  letter-spacing: 13px;
  color: white;
  text-transform: uppercase;
}

.background-image {
  background-image: url("./images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  height: 38vh;
  width: 100%;
}

/* Center the inner container */

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box {
  width: 30%;
  margin-top: 70px;
  gap: 20px;
}

.todo-create,
.todo-activities {
  background-color: white;
  margin-top: 20px;
  border-radius: 4px;
}

.todo-create {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 18px 20px;
}

.todo-create input[type="text"] {
  border: none;
  font-size: 16px;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0;
}

.delete-Button {
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  color: tray;
  display: none;
  /* cursor: pointer; */
}

.activity,
input[type="radio"],
.delete-Button {
  cursor: pointer;
}

/* So what i did was that I put both thelist item(that is the div named each_activity) and the delete
 button inside on div named "overall" and them i put the hover effect on it and selected the delete button and set it to display block
 so whenever you hover on the list item or the radio button, the delete icon shows */

/* add colour  to the border on the radio button and  when over on the list item display the x */
.each_activity {
  display: flex;
  gap: 20px;
  padding: 18px 20px;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.overall:hover .delete-Button {
  display: block;
}

.todo-activities {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.bottom_menu {
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  padding: 14px 15px;
  color: #939292;
}

.inner-menu {
  display: flex;
  justify-content: space-between;
}

.bottom_menu div:nth-of-type(2) {
  width: 30%;
}

.inner-menu div:hover,
.clear-completed:hover {
  color: black;
  cursor: pointer;
}

.centered_menu2 {
  display: none;
}

.dragAnddrop {
  text-align: center;
  margin-top: 40px;
  font-size: 0.7rem;
  color: #939292;
}

/* MediaQuery */

/* Mobile View */
@media screen and (max-width: 500px) {
  .background-image {
    background-position: center;
  }

  .inner-box {
    width: 90%;
    margin: auto;
    margin-top: 45px;
  }

  .bottom_menu div:nth-of-type(2) {
    display: none;
  }

  .centered_menu2 {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    color: #939292;
    padding: 10px;
  }

  .inner-menu2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .inner-menu2 div:hover {
    color: black;
    cursor: pointer;
  }
}
